@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	display: none;
}

html {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}

body {
	max-width: 800px;
	margin: auto;
	color: whitesmoke;
	background-color: #15091f;
}

header {
	background-color: #3d195b;
}

a {
	all: unset;
	cursor: pointer;

}

h1 {
	padding: 1rem;
	text-align: center;
}

nav {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: scroll;
	gap: 1rem;
	cursor: pointer;
}

button {
	all: unset;
	padding: 0.5rem;
	flex-shrink: 0;
	font-size: 0.75rem;
}

.logo {
	width: 1rem;
	height: 1rem;
}

#fixtures {
	padding: 2rem 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

#plus0 {
	border-bottom: 2px solid white;
	font-weight: bold;
}

.no-fixtures {
	font-size: 1rem;
	animation: fadeIn 1s;
}

.fixture {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	animation: fadeIn 1s;
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.home {
	text-align: right;
	flex-basis: 100%;
	flex-shrink: 0;	
}

.away {
	flex-basis: 100%;
	flex-shrink: 0;
}

.score,
.time {
	font-weight: bold;
	white-space: nowrap;
}