@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	display: none;
}

html {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 12px;
}

body {
	max-width: 800px;
	margin: auto;
	color: whitesmoke;
	background-color: #050413;
}

header {
	background-color: #110c3d;
}

h1 {
	padding: 1rem;

}

nav {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: scroll;
	gap: 1rem;
	cursor: pointer;
}

button {
	all: unset;
	padding: 0.5rem;
	flex-shrink:  0;
}

.logo {
	width: 1rem;
	height: 1rem;
}

#fixtures {
	background-color: #110c3d;
	border-radius:  1rem;
	margin:  1rem;
	padding: 2rem 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

#plus0 {
	border-bottom: 2px solid white;
	font-weight: bold;
}

.no-fixtures {
	font-size: 1rem;
}

.fixture {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

.home {
	text-align: right;
	flex-basis: 100%;
	flex-shrink: 0;	
}

.away {
	flex-basis: 100%;
	flex-shrink: 0;
}